.img-size {
  width: 40vh;
  transition: 0.5s all ease-in-out;
}

.img-bg a:hover img {
  transform: scale(1.1);
  transition: 0.5s all ease-in-out;
}

.title {
  color: white;
  transition: 0.5s all ease-in-out;
}

.img-bg:hover .title {
  color: #ff9900;
  transition: 0.5s all ease-in-out;
}

.shadow-custom {
  box-shadow: 2px 2px 5px white;
}

.shadow-custom2 {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.781);
}

/* header Text Animation */

.outer-headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner-headings {
  border: 0px solid #ddd;
  max-height: 50px;
  text-transform: uppercase;
  overflow: hidden;
}

.outer-headings h1 {
  font-size: 42px;
}

.inner-headings span {
  z-index: 0 !important;
  position: relative;
  color: #ff9900;
  animation: animation 10s ease infinite;
}

@keyframes animation {
  0%,
  100% {
    top: 0;
  }

  20% {
    top: 0;
  }

  25% {
    top: -50px;
  }

  45% {
    top: -50px;
  }

  50% {
    top: -100px;
  }

  70% {
    top: -100px;
  }

  75% {
    top: -150px;
  }

  95% {
    top: -150px;
  }
}

/* main content */
.custome-container {
  width: 85%;
  margin: auto;
}

.bg-img {
  background: linear-gradient(
      to bottom,
      #25252500 0%,
      #252525c0 25%,
      #252525 40%,
      #252525 100%
    ),
    url('/src/images/bg-img.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 4rem;
}

.bg-accent {
  background: url('/src/images/bg-img.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
