.img-size{
    width: 40vh;
    transition: 0.5s all ease-in-out;
}

.img-bg:hover img {
    transform: scale(1.1);
    transition: 0.5s all ease-in-out;
}

.title{
    color: white;
    transition: 0.5s all ease-in-out;
}

.img-bg:hover .title {
    color: #ff9900;
    transition: 0.5s all ease-in-out;
}

.shadow-custom{
    box-shadow: 2px 2px 5px white;
}

.shadow-custom2{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.781);
}