.loader{
    height: 100vh;
    width: 100vw;
    background: #eae0d5;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999999999999999999999999999999999999999 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .5s all ease-in-out !important;
}

.loader-hidden{
  opacity: 0;
  transition: .5s all ease-in-out !important;
}

.scanner span {
    color: transparent;
    font-size: 1.4rem;
    position: relative;
    overflow: hidden;
  }
  
  .scanner span::before {
    content: "Santosidad";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 4px solid #ff9900;
    overflow: hidden;
    color: #ff9900;
    animation: load91371 2s linear infinite;
    
  }
  
  @keyframes load91371 {
    0%, 10%, 100% {
      width: 0;
    }
  
    10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
      border-right-color: transparent;
    }
  
    11%,21%,31%,41%,51%,61%,71%,81%,91% {
      border-right-color: #ff9900;
    }
  
    60%, 80% {
      width: 100%;
    }
  }

  .scanner span {
  color: transparent;
  font-size: 1.4rem;
  position: relative;
  overflow: hidden;
}

.scanner span::before {
  content: "SANTOSIDAD.";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 4px solid #ff9900;
  overflow: hidden;
  color: #ff9900;
  animation: load91371 2s linear infinite;
}

@keyframes load91371 {
  0%, 10%, 100% {
    width: 0;
  }

  10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    border-right-color: transparent;
  }

  11%,21%,31%,41%,51%,61%,71%,81%,91% {
    border-right-color: #ff9900;
  }

  60%, 80% {
    width: 100%;
  }
}
