@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  height: 100vh;
  height: 100dvh;
  background: url('/src/images/abstact-bg.webp');
  /* background: #eae0d5; */
  /* From https://css.glass */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transition: 0.5s all ease-in-out !important;
}



.navbar-custom{
  background: rgba(0, 0, 0, 0.562);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

/* Home */

.section-left{
  background: #1f1f1f;
  height: 95vh;
  height: 95dvh !important;
  /* position: fixed; */
  top: 25px;
  z-index: 1 !important;
}

.img-shadow{
  filter: drop-shadow(-8px 8px #ff990067);

  /* From https://css.glass */
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}

.rightbar{
  background: #1f1f1f;
  height: 95vh;
  height: 95dvh !important;
  position: sticky;
  z-index: 1 !important;
  top: 25px;
}

.navbar:focus{
  border: none;
  border-color: transparent;
}

.btn-deco:focus{
  border-color: transparent !important;
  box-shadow: none;
}

.main{
  position: relative;
  z-index: 0 !important;
}

.main:before, .main:after {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 25px;
  background: url('/src/images/abstact-bg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1 !important;
}

.main:after {
  text-align: center;
  font-weight: bold;
  top: auto;
  bottom: 0;
}

.bg-gray{
  background: #22333b;
}

.yellowText{
  color: #ff9900;
}

/* main */

.bg-img {
  background: linear-gradient(
    to bottom,
    #25252500 0%,
    #252525c0 25%,
    #252525 40%,
    #252525 100%
  ), url('/src/images/bg-img.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bg-banner{
  background: url('/src/images/bg-img.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* text animation */

.outer-headings{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner-headings{
  border: 0px solid #ddd;
  max-height: 50px;
  text-transform: uppercase;
  overflow: hidden;
}

.outer-headings h1{
  font-size: 42px;
}

.inner-headings span{
  position: relative;
  color: #ff9900;
  animation: animation 10s ease infinite;
}

@keyframes animation{
  0%, 100%{
    top: 0;
  }
  20% {
    top: 0;
  }
  25% {
    top: -50px;
  }
  45% {
    top: -50px;
  }
  50% {
    top: -100px;
  }
  70% {
    top: -100px;
  }
  75% {
    top: -150px;
  }
  95% {
    top: -150px;
  }
}


/* projects */
.project-height{

 overflow: hidden;
}

.bg-1{
  background: linear-gradient(
    to right,
    #1f1f1fc5 0%,
    #1f1f1fc5 100%
  ), url('/src/images/bg-img.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-2{
  background:linear-gradient(
    to right,
    #1f1f1fc5 0%,
    #1f1f1fc5 100%
  ),  url('/src/images/ggnext.PNG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-3{
  height: 100%;
  background: linear-gradient(
    to right,
    #1f1f1fc5 0%,
    #1f1f1fc5 100%
  ),  url('/src/images/tgh.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* From https://css.glass */
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}

.text-hello{
  writing-mode: vertical-rl;
  text-orientation: sideways;
}

.socmed{
  transition: .3s all ease-in-out !important;
}

.socmed:hover{
  transition: .3s all ease-in-out !important;
color:#ff9900;
}
