body {
  height: 100vh;
  height: 100dvh;
  /* background: url('/src/images/bgimage.webp'); */
  background: #eae0d5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}



.navbar-custom{
  background: rgba(0, 0, 0, 0.562);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

/* Home */

.section-left{
  background: #1f1f1f;
  height: 95vh;
  height: 95dvh !important;
  position: fixed;
  top: 25px;
}

.rightbar{
  background: #1f1f1f;
  height: 95vh;
  height: 95dvh !important;
  position: sticky;
  top: 25px;
}

.main:before, .main:after {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 25px;
  background: #eae0d5;
  z-index: 9999;
}

.main:after {
  top: auto;
  bottom: 0;
}

.bg-gray{
  background: #22333b;
}

.yellowText{
  color: rgb(255, 187, 0);
}

/* main */

.bg-img {
  height: 100vh;
  height: 100dvh;
  background: linear-gradient(
    to bottom,
    #eae0d500 0%,
    #eae0d5 25%,
    #eae0d5 100%
  ), url('/src/images/bg-img.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bg-banner{
  background: url('/src/images/bg-img.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* text animation */

.container-animation{

}

.container-animation .text{
  position: relative;
}

.container-animation .text .first-text{
  /* text color */
}

.text.sec-text:before{

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  /* bg */
  background: url('/src/images/bg-img.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-left: 2px solid red;

  animation: animate 4s steps(12) infinite;
}

@keyframes animate{
  40%, 60%{
    left: calc(100% + 4px);
  }
  100%{
    left: 0%;
  }
}